table{
margin: 40px; 
font-size:50px;
text-align:center;
border: 5px solid #999; 
outline: 15px ridge black;
}

td,th{border-top: 2px solid #336699;    border-right: 1px dashed black;    border-bottom: 3px dotted #00cc66;    border-left: 4px solid #9966cc; vertical-align: top; padding: 40px; }

p {outline: 10px ridge green; vertical-align: middle;font-family:'verdana',sans-serif; }